<?xml version="1.0"?>
<robot name="diff_bot" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <gazebo reference="camera_link">
        <sensor name="cam" type="camera">
            <pose>0 0 0 0 0 0</pose>
            <visualize>false</visualize>
            <update_rate>10</update_rate>
            <camera>
                <horizontal_fov>1.089</horizontal_fov>
                <image>
                    <format>R8G8B8</format>
                    <width>640</width>
                    <height>480</height>
                </image>
                <clip>
                    <near>0.05</near>
                    <far>8.0</far>
                </clip>
            </camera>
            <plugin name="cam_controller" filename="libgazebo_ros_camera.so">
                <frame_name>camera_sensor_link</frame_name>
            </plugin>
        </sensor>
    </gazebo>

    <gazebo reference="lidar_link">
        <sensor name="lidar" type="ray">
            <pose>0 0 0 0 0 0</pose>
            <visualize>false</visualize>
            <update_rate>10</update_rate>
            <ray>
                <scan>
                    <horizontal>
                        <samples>360</samples>
                        <resolution>1</resolution>
                        <min_angle>-3.14159265359</min_angle>
                        <max_angle>3.14159265359</max_angle>
                    </horizontal>
                </scan>
                <range>
                    <min>0.3</min>
                    <max>8</max>
                    <resolution>0.01</resolution>
                </range>
            </ray>
            <plugin name="laser_controller" filename="libgazebo_ros_ray_sensor.so">
                <ros>
                    <arguments>--ros-args -r ~/out=scan</arguments>
                </ros>
                <output_type>sensor_msgs/LaserScan</output_type>
                <frame_name>lidar_link</frame_name>
            </plugin>
        </sensor>
    </gazebo>
</robot>